/* Sidebar Genel */
.sidebar {
    width: 270px;
    height: 100vh;
    background: #0f1216;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #e5e7eb;
    font-family: "Inter", sans-serif;
}

/* Profil Bölümü */
.profile-section {
    display: flex;
    align-items: center;
    gap: 14px;
}

.profile-img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #1e293b;
}

.profile-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.profile-info p {
    margin: 0;
    font-size: 13px;
    opacity: 0.65;
}

/* Menü */
.menu {
    list-style: none;
    padding: 0;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
    color: #cbd5e1;
}

.menu-item:hover {
    background: #1a1f25;
    color: #fff;
}

.menu-item i {
    font-size: 20px;
    width: 25px;
}

/* Alt Bölüm */
.bottom-section {
    padding-top: 5px;
    border-top: 1px solid #1f2329;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Gece Modu */
body.night-mode {
    background: #0d0f12;
    color: #fff;
}
/* Sidebar Genel */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #061426;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #e5e7eb;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600; /* semi-bold */
    border: 364563;
    border: 2px solid #364563;


}

/* Profil Bölümü */
.profile-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 14px;
    
}

.profile-img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #1e293b;
}

.profile-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.profile-info p {
    margin: 0;
    font-size: 13px;
    opacity: 0.65;
}

/* Menü */
.menu {
    list-style: none;
    padding: 0;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.2s;
    color: #cbd5e1;
    font-size: 13px;
}

.menu-item:hover {
    border: 3px solid #3885DE; 
    border-radius: 25px;
    background: linear-gradient(#0077FF);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}


.menu-item i {
    font-size: 20px;
    width: 40px;
}

/* Alt Bölüm */
.bottom-section {
    padding-top: 150px;
    border-top: 1px solid #1f2329;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Gece Modu */
body.night-mode {
    background: #0d0f12;
    color: #fff;
}
