<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İşlem Seçimi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selection.css') }}">
</head>
<body>
    <div class="background"></div>

    <header class="main-header">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="header-logo">
        <h1 class="system-title">Üretim Takip Sistemi</h1>
    </header>

    <main class="button-wrapper">
        <!-- Kullanıcının line bilgisi -->
        <div class="line-label">{{ line.line }}</div>

        <!-- İki büyük mavi buton -->
        <div class="button-row">
            <button class="action-btn" onclick="window.location.href='/defect'">Hata Girişi</button>
            <button class="action-btn" onclick="window.location.href='/rework'">Rework</button>
            <!-- Geri Butonu -->
             <button id="backButton" class="back-btn-fixed">← Geri</button>
    </div>
        </div>

        
    </main>

    <script src="{{ url_for('static', filename='js/selection.js') }}"></script>
</body>
</html>
