<div class="profile-section">
    <img src="{{ url_for('static', filename='images/user-profile.png') }}" class="profile-img" alt="Profil">
    <div class="profile-info">
        <h3 id="user_name">Kullanıcı</h3>
        <p id="user_title">Unvan</p>
    </div>
</div>

<ul class="menu">
    <li class="menu-item"><i class="fas fa-home"></i>Home</li>
    <li class="menu-item"><i class="fas fa-tachometer-alt"></i>Dashboard</li>
    <li class="menu-item"><i class="fas fa-user"></i>Profil</li>
    <li class="menu-item"><i class="fas fa-tv"></i>Hatlar</li>
    <li class="menu-item"><i class="fas fa-users"></i>Operatörler</li>
</ul>

<div class="bottom-section">
    <div class="menu-item"><i class="fas fa-question-circle"></i>Yardım</div>
    <div class="menu-item"><i class="fas fa-sign-out-alt"></i>Çıkış</div>
</div>
